$color_accent: hsl(43, 100%, 49%);
$color_button_hover: hsl(43, 100%, 44%);
$color_button_light: hsl(44, 100%, 94%);
$color_primary: hsl(0, 0%, 100%);
$color_secondary: hsl(0, 0%, 0%);
$color_light: hsl(0, 0%, 98%);
$color_dark: hsl(0, 0%, 95%);
$color_border: hsl(0, 0%, 90%);